fastapi
uvicorn[standard]
sqlmodel
psycopg[binary]
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
alembic
python-dateutil
requests
email-validator